/* Ram */
form {
  border: 3px solid lightgray;
}
  
/* Inloggningsrutor */
input[type=text], input[type=password] {
  width: 1200px;
  padding: 12px;
  margin-left: 12px;
  border: 1px solid #ccc;
}

input[type=submit] {
  width: 100px;
  margin-bottom: 12px;
  margin-left: 12px;
}

p{
  margin-left: 12px;
  margin-top: 12px;
}